@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
.nav-link{
  color: white;
}
.navbar-brand{
  color: white;
}
nav a:hover{
  background-color: rgba(11, 208, 132, 0.836);
  font-style: oblique;
}
.navbar{
  background-color: rgb(37, 36, 36);
  box-shadow: -2px 5px 5px 5px rgba(0,0,0,0.75);
  padding: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
  width: 15rem;
  height: fit-content;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}
.card-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-img-top{
  width: 26rem;
  height: 14rem;
  border-radius: 10px;
}
.card-text{
  background-color: rgb(28, 27, 27);
  color: white;
  border-radius: 10px;
}
main{
  padding: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
footer{
  background-color: rgb(37, 36, 36);
  color: white;
  font-size: 0.75rem;
  padding: 0.75rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.h1Main{
  color: white;
  text-align: center;
}
.card:hover{
  transform: scale(1.1);
}
.h2Main{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 1.5rem;
}
.h2Raquetas{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 1.5rem;
  padding: 1rem;
}
.h2Main:hover{
text-decoration-line: underline;
}
.h2Raquetas:hover{
  text-decoration-line: underline;
}
.imagenesProductos{
  border-radius: 0.7rem;
}
.h3Productos{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.precioProductos{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: 500;
}
.linkProductos{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  text-decoration: none;
  color: black;
}
.linkProductos:hover{
  background: rgb(10, 219, 163);
  color: white;
}
.divProductos{
  box-shadow: -2px 15px 20px rgba(0,0,0,0.75);
  height: fit-content;
}
.descripcionProductos{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  margin-top: 0.4rem;
}
.divLoadProductos{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: 700;
  color: white;
  margin-left: 2rem;
  margin-top: 2rem;
}
.d-block, .w-50{
  position: relative;
  left: 25rem;
}
button:hover{
  background: rgb(10, 219, 163);
  color: rgb(0, 0, 0);
}
button{
  border-radius: 5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenedorCard{
  position: relative;
  left: 30rem;
}

