.App {
  text-align: center;
}

/* .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
} */

.App-link {
  color: #61dafb;
}
.nav-link{
  color: white;
}
.navbar-brand{
  color: white;
}
nav a:hover{
  background-color: rgba(11, 208, 132, 0.836);
  font-style: oblique;
}
.card{
  width: 22rem;
  height: 15rem;
}


